.popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Khoảng cách giữa các nút */
  }
  
  .cancel-button {
    background-color: #ff4d4d; /* Màu đỏ */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cancel-button:hover {
    background-color: #ff1a1a; /* Màu đỏ đậm hơn khi hover */
  }
  
  .add-button {
    background-color: #4caf50; /* Màu xanh lá */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-button:hover {
    background-color: #45a049; /* Màu xanh lá đậm hơn khi hover */
  }
  