.chart-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .chart-filters button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #000000;
    background-color: #f9f9f9;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
  }
  
  .chart-filters button:hover {
    background-color: #92a4f5;
    border-color: #000000;
  }
  
  .chart-filters button.active {
    background-color: #4412cf;
    color: #fff;
    border: 1px solid #0f9a1f;
  }
  