/* .waiter-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  } */
  
  .waiter-container  h2 {
    text-align: center;
    color: #000000;
  }
  
  .waiter-container .bill-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .waiter-container .bill-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .waiter-container .bill-item p {
    margin: 5px 0;
    color: #000000;
  }
  
  .waiter-container .error {
    color: red;
    text-align: center;
  }
  