.view {
    padding: 20px;
  }
  
  .category {
    display: flex;
    flex-wrap: wrap; /* Đảm bảo các mục tự xuống dòng */
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .category-item {
    padding: 10px 20px;
    background-color: #211c6a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
  }
  
  
  .category-item:hover,
  .category-item.active {
    background-color: #f39c12;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    max-width: 100%;
    max-height: 480px;
  }
  
  .menu-item {
    width: calc(50% / 4);
    text-align: center;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .menu-item:hover {
    transform: scale(1.05);
  }
  
  .menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .menu-item .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .menu-item .price {
    font-size: 16px;
    color: #ff9f00;
    margin-top: 5px;
  }
  